* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url(../img/fund.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#container {
  width: 550px;
  height: 550px;
  margin: auto;
  margin-top: 7%;
}

#formDiv {
  background-color: rgb(255, 255, 0);
  margin: auto;
  padding: 2%;
  width: 80%;
  height: 80%;
  border-radius: 15px;
  box-shadow: 0 0 2em rgb(0, 0, 0);
  box-sizing: border-box;
}

#title {
  color: black;
  text-align: center;
  padding: 1%;
  margin-top: 5px;
  margin-bottom: 20px;
}

input {
  display: block;
  color: black;
  font-size: 17px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 20px;
  background-color: rgb(250, 250, 51);
  width: 80%;
  border: 3px rgb(0, 0, 0) solid;
  border-radius: 5px;
}

input::placeholder {
  color: #000000;
  font-size: 17px;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

#divBtn {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;

}

#btn {
  display: block;
  margin: auto;
  width: 50%;
  background-color: rgb(0, 44, 109);
  font-weight: bold;
  font-size: 17px;
  color: white;
  padding: 15px;
  border: 1px solid blue;
  border-radius: 5px;
}
